.header {
  text-align: center;
  width: 100%;
  color: orange;
  display: flex;
  align-self: center;
  justify-self: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  .title {
  }
  .main-text {
  }
}
