.field {
  max-width: 100vw;
  min-height: 300px;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  .words-container {
    font-size: 24px;
    width: 60%;
    letter-spacing: 0;
    span {
      padding: 0;
      letter-spacing: 0;
      box-sizing: border-box;
      &.caret-right {
        border-left: 1px solid transparent;
        border-right: 1px solid;
      }
      &.correct {
      }
      &.incorrect {
      }
    }
  }
  .input {
    position: absolute;

    height: 100px;
    width: 80%;
    opacity: 0;
  }
  .not-in-focus {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 60%;
    height: 100%;
  }
}
