.themes-container {
  position: relative;
  width: 50px;
  height: 50px;
  .drop-down-list {
    background-color: yellow;
    display: none;
    position: absolute;
    text-wrap: nowrap;
    width: fit-content;
    text-align: center;
    border-radius: 50%;
  }
}
